# -----------------------------
# Virtual Environments
# -----------------------------
venv/
venv312/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python Environment
# -----------------------------
.env

# -----------------------------
# YOLO Models (ignore large trained weights)
# -----------------------------
*.pt

# -----------------------------
# React
# -----------------------------
frontend/node_modules/
frontend/dist/

# -----------------------------
# Generated Logs
# -----------------------------
outputs/logs/*.csv

# -----------------------------
# Generated Reports
# -----------------------------
reports/*.pdf

# -----------------------------
# Dashboard Cache
# -----------------------------
outputs/dashboard/*

# -----------------------------
# Graphs
# -----------------------------
outputs/graphs/*

# -----------------------------
# Videos
# -----------------------------
outputs/videos/*